#middle{
	margin: 0px auto;
	width: auto;
	height: auto;
	border: 10px #babfb7 solid;
}

#videoStream{
	width: 440px;
	height: 80px;
	background-color: #979f9d;
	border: 10px #02243e solid;
}

#result{
	float: bottom;
}