
/* our colors
    grey = #BABFB7
    blue = #02243E
    orange = #FE5000

*/
#checkInToggleBox{
	padding-top: 15px;
}

.switchBox{
	display: flex;
	padding-bottom: 15px;
}

#submitButton {
	display:block;
}

#responseBox{
	padding:10px;
	padding-left: 0px;
	display:block;
}