
/* our colors
    grey = #BABFB7
    blue = #02243E
    orange = #FE5000

*/

#switchBox{
	padding: 10px;
	padding-left: 0px;
	display: flex;
	text-align: center;
}

#submitButton {
	display:block;
}

#responseBox{
	padding:10px;
	padding-left: 0px;
	display:block;
}