/* our colors
grey = #BABFB7
blue = #02243E
orange = #FE5000
*/

#middle{
	padding-left: 15px;
	display: inline-block;
}

#result {
	display: block;
	font-size: 50px;
}

#greenBox{
	display: inline-block;
	visibility: hidden;
}

.switchBox{
	display: flex;
	padding-bottom: 15px;
}

h1{
	font-size: 30px;
}

/*
#topBody{
	font-size: 20px;
}*/