
/* our colors
    grey = #BABFB7
    blue = #02243E
    orange = #FE5000

*/

#background {
    background-color: #02243E;
}

body {
    color: #BABFB7;
}

.topnav table{
  overflow: hidden;
  opacity: 1;
  background-color:#02243E;
  padding-bottom: 25px;
  padding-right: 15px;
}
/* Style the links inside the navigation bar */
.topnav table a {
  float: left;
  color: #BABFB7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: #02243E;
}

/* Change the color of links on hover */
.topnav table a:hover {
  background-color: #BABFB7;
  color: #FE5000;
}

/* Add a color to the active/current link */
.topnav table a.active {
  background-color: #BABFB7;
  color: #FE5000;
}

.topnav img{
  float: left;
  height: 60px;
  width: auto;
}
/*
make tobBody big
#topBody{
	color: green;
	font-size: 100px;
}
*/

#result{
	float: center;

}
/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }

  #greenBox{
	  display: block;
  }