// css for Snapshot page

/* our colors
    grey = #BABFB7
    blue = #02243E
    orange = #FE5000

*/

.topnav table{
  overflow: hidden;
  opacity: 1;
  background-color:#02243E;
  padding-bottom: 25px;
  padding-right: 15px;
}
/* Style the links inside the navigation bar */
.topnav table a {
  float: left;
  color: #BABFB7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: #02243E;
}

/* Change the color of links on hover */
.topnav table a:hover {
  background-color: #BABFB7;
  color: #FE5000;
}

/* Add a color to the active/current link */
.topnav table a.active {
  background-color: #BABFB7;
  color: #FE5000;
}

.topnav img{
  float: left;
  height: 60px;
  width: auto;
}

body {
    color: #BABFB7;
}

#background {
    background-color: #02243E;
}